<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        .main{
            width: 600px;
            height: 810px;
            border-radius: 30px;
            background-color:white;
            display: flex;
            font-family: poppins;
            flex-direction: column;
            align-items: center;
            margin: auto;
            margin-top: 100px;
            padding: 20px;
            border: #022A51 15px solid;
        }
       .top{
        display: flex;
        border-radius: 6px;
        height:125px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        width: 100%;
       }
       .logo{
              margin: 15px;
              width: 100px;
              height: 100px;
       }
       .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .title-main{
        font-size: 20px;
        margin: 0;
       }
       .title-sub{
        font-size: 16px;
        font-weight: 800;
        margin: 0;
       }
       .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:480px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        margin: 20px 30px 0px 30px;
        border-radius: 6px;
        font-size: 16px;
       }
       .details-top{
        display: flex;
        height: 55px;
        justify-content: space-between;
        margin: 20px;
        border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
       }
       .details{
        height: 25px;
        display: flex;
        align-items: center;
        gap: 5px;
       }
       .list{
        justify-content: space-between;
        margin: 5px 40px 5px 40px;
        border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
       }
       .verify{
        display: flex;
        padding: 20px;
        margin-top: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
       }
       .verify-doc{
        width: 197px;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: #022A51;
        border-radius: 10px;
        color: white;
       }
       .verify-sign{
        margin-top: 10px;
        width: 227px;
        height: 23px;
        display: flex;
        align-items: center;
        background-color: #022A51;
        border-radius: 10px;
        color: white;
        font-size: 8px;
        gap: 5px;
       }
       .verify-logo{
        margin-left: 10px;
        margin-right: 10px;
       }
       .verify-text{
        display: flex;
        align-items: center;
        gap: 5px;
       }
       .qr-code{
        width: 200px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .bottom{
        margin-top:20px ;
        padding: 0px 20px 0px 20px;
        font-size: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
       }
       .bottom-text{
        margin: 0;
        font-size: 12px;
       }
    </style>
</head>
<body>
    <div class="main">
        <div class="top">
            <img class="logo" src="http://localhost:3000/assets/ashoka_sthambham.png" alt="ashoka_sthambam">
            <div class="title">
                <p class="title-main">UNION OF INDIA DRIVING LICENSE</p>
                <p class="title-sub">Issuing Authority : <%= authority %></p>
            </div>
        </div>
        <div class="content">
            <div class="details-top">
                <div>
                    <div class="details"><h6>License No </h6><h6 style="font-size: 16px;"><%= licenseNumber  %></h6></div>
                    <div class="details"><h6>Authorization to Drive </h6><h6><%= vehicle %></h6></div>
                </div>
                <div>
                    <div class="details"><h6>Date of Issue  </h6><h6><%= issueDate %></h6></div>
                     <div class="details"><h6>Date of Expiry  </h6><h6><%= expiryDate %></h6></div>

                </div>
                
            </div>
            <div class="details list">
                <h6>Name </h6><h6><%= name %></h6>
            </div>
            <div class="details list">
                <h6>S/W/D </h6><h6><%= guardian %></h6>
            </div>
            <div class="details list">
                <h6>DOB </h6><h6><%= dob %></h6>
            </div>
            <div class="details list">
                <h6>Blood Group </h6><h6><%= blood_group %></h6>
            </div>
            <div class="details list" style="height:50px;">
                <h6>Address </h6><h6 style="width: 150px ;"><%= address %></h6>
        </div>
        <div style="display: flex;padding: 20px;"><div class="verify">
            <div class="verify-doc">
                <img class="verify-logo"  src="http://localhost:3000/assets/clipboard-check.svg" alt="icon">
              <div class="verify-text"><h5>Verified</h5><p style="font-size: 10px;">by delock</p></div></div>
            <div class="verify-sign">
               <img class="verify-logo" src="http://localhost:3000/assets/patch-check-fill.svg" alt="doc">
              <div class="verify-text"><p>Digitally signed on </p><p><%= signDate %></p></div></div>
        </div>
        <div class="qr-code"><img src="http://localhost:3000/assets/qr-code.svg" alt="qr"></div>
    </div>
        
    </div>
    <div class="bottom">
            <h4>Note :</h4>
            <p>1. This is a digital certificate. The format of this certificate may differ from document issued by the concerned department.</p>
            <p>2. This digitally signed document is legally valid as per the IT Act 2000 when used electronically.</p>
        </div>
    
</body>
</html>
